body {
    display: flex;
}

.font-purple {
	color: #9291D2;
}

.font-gradient-purple {
	background: linear-gradient(60deg, rgb(122, 120, 255), rgb(235, 126, 217));
	background-clip: text;
	color: transparent;
	font-family: 'Roboto Black', sans-serif !important;
}