/** BORDERS **/
.bottom-separator{
	border-bottom: solid 3px rgba(255, 255, 255, 0.09);
}

.top-separator{
	border-top: solid 3px rgba(255, 255, 255, 0.09);
}

.icon-default {
	color: rgba(255, 255, 255, 0.15);
  }