/** NAVBAR **/
.header-navbar {
	display: flex;
	flex-direction: row;
	gap: 8em;
	font-size: 1.12em;
	align-items: flex-end;
}

.title-navbar-options {
	border: none;
	cursor: pointer;
	font-weight: 300;
}

.navbar-options {
	display: none;
	font-size: 0.9em;
	position: absolute;
	background-color: rgba(15, 15, 15, 0.7);
	box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
	min-width: 200px;
	z-index: 1;
	opacity: 1;
	animation: slideout 0.2s ease-in-out;
}

/* Links inside the dropdown */
.navbar-options a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: flex;
}

.navbar-options a:hover {
	background-color: rgba(15, 15, 15, 0.5);
}

.navbar-options-container:hover .navbar-options {
	display: block;
}

.navbar-options-container .title-navbar-options:after {
	display:block;
	content: '';
	border-bottom: solid 2px #ffffff;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}

.navbar-options-container:hover .title-navbar-options:after {
	transform: scaleX(1);
	transform-origin:  0% 50%;
}


/* NEW CSS */
.animate-slide {
	animation: slideout 0.2s ease-in-out;
}